{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Edit Theater</h2>

    <form method="POST">

        <input
            type="text"
            name="name"
            value="{{ theater.name }}"
            class="form-control mb-3"
        >

        <input
            type="text"
            name="city"
            value="{{ theater.city }}"
            class="form-control mb-3"
        >

        <textarea
            name="address"
            class="form-control mb-3"
        >{{ theater.address or "" }}</textarea>

        <input
            type="number"
            name="total_screens"
            value="{{ theater.total_screens }}"
            class="form-control mb-3"
        >

        <button class="btn btn-success">
            Update Theater
        </button>

    </form>

</div>

{% endblock %}
